<div class="list-group">
  <button type="button" class="btn btn-primary" (click)="navigate()">Create</button>
  <a class="list-group-item list-group-item-action"*ngFor="let item of itemsService.items">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{item.title}}</h5>
      <li class="list-group-item list-group-item-action" class="delete" (click)="delete(item.title)"><a>X</a></li>
    </div>
    <p class="mb-1">{{item.content}}</p>
    <li class="list-group-item list-group-item-action" class="add" (click)="editNavigate(item.id)"><a>+More</a></li>
  </a>
</div>
