.btn-primary {
  background-color: #30a7e3;
  border: #30a7e3;
  margin-left: 15%;
  margin-right: 15%;
}

.form-group {
  color: #30a7e3;
  font-weight: bold;
  padding-left: 15%;
  padding-right: 15%;
}

